$orange: rgb(236, 181, 62);
$orangeDark: rgb(182, 139, 45);
$pink: rgb(216, 98, 200);
$pinkDark: rgb(151, 59, 139);
$green: rgb(61, 233, 167);
$greenDark: rgb(40, 161, 115);
$blue: rgb(61, 170, 233);
$blueDark: rgb(36, 111, 155);
